{% set subject = 'Welcome to Gratitude Reminder' %}
{% if format == 'html' %}
Namaste,
<p>The deal is:</p>
<ol>
<li>Every day you'll receive an email from us.</li>
<li>Reply with something you're grateful for.</li>
<li>Visit your <a href="{{ responses_link }}">Gratitude Reminder Responses Google Spreadsheet<a> to see your past responses.</li>
</ol>
<p>You can <a href="{{ unsubscribe_link }}">unsubscribe</a> at anytime.</p>
<p>The Abbot</p>
{% else %}
Namaste,

The deal is:

1. Every day you'll receive an email from us.
2. Reply with something you're grateful for.
3. Visit your Gratitude Reminder Responses Google Spreadsheet<a> to see your past responses:

{{ responses_link }}

You can unsubscribe at anytime:

{{ unsubscribe_link }}

The Abbot
{% endif %}